@model ProjectDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>Details</h1>

<div class="details">
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-3 col-12">
            Name
        </div>
        <div class="col-md-9 col-12">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-12">
            Description
        </div>
        <div class="col-md-9 col-12">
            @Model.Description
        </div>
    </div>
    @if (Model.Teams.Count == 0)
    {
        <p>No team is working in this project</p>
    }
    else
    {
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Teams)
                    {
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <a asp-action="AddTeamToProject" asp-controller="Projects" asp-route-id="@Model.Id" class="btn btn-secondary">Add team to work</a>
    <a asp-action="RemoveTeamFromProject" asp-controller="Projects" asp-route-id="@Model.Id" class="btn btn-secondary">Remove team not to work anymore</a>
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="text-warning">Edit</a> |
    <a asp-action="Index" class="text-info">Back to List</a>
</div>
<p></p>
<p></p>
<p></p>
<p></p>


