@model IndexRequestsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Applicant name
            </th>
            <th>
                Period
            </th>
            <th>
                Total days for vacation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                   
                    @if (item.IsApproved==false)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" />