@model PendingRequestsViewModel

<h2>Pending Vacation Requests</h2>

@if (Model.AdminRequests.Any() || Model.LeaderRequests.Any())
{
    <h3>Requests awaiting approval</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>From</th>
                <th>To</th>
                <th>Requester</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LoggedUser == Model.AdminId)
            {
                @foreach (var request in Model.AdminRequests)
                {
                    <tr>
                        <td>@request.Id</td>
                        <td>@request.StartDate.ToShortDateString()</td>
                        <td>@request.EndDate.ToShortDateString()</td>
                        <td>@request.Requester.UserName</td>
                        <td>@request.Type</td>
                        <td>
                            @if (!request.IsApproved)
                            {
                                <a asp-action="Approve" asp-route-id="@request.Id" asp-method="post" class="btn btn-sm btn-secondary">Approve</a>
                                <a asp-action="DeleteRequest" asp-route-id="@request.Id" asp-method="post" class="btn btn-sm btn-danger">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
            @if (Model.LeaderIds.Contains(Model.LoggedUser))
            {
                @foreach (var request in Model.LeaderRequests)
                {
                    <tr>
                        <td>@request.Id</td>
                        <td>@request.StartDate.ToShortDateString()</td>
                        <td>@request.EndDate.ToShortDateString()</td>
                        <td>@request.Requester.UserName</td>
                        <td>@request.Type</td>
                        <td>
                            @if (!request.IsApproved)
                            {
                                <a asp-action="Approve" asp-route-id="@request.Id" asp-method="post" class="btn btn-sm btn-secondary">Approve</a>
                                <a asp-action="AskAdmin" asp-route-id="@request.Id" asp-method="post" class="btn btn-sm btn-secondary">Transfer to CEO</a>
                                <a asp-action="DeleteRequest" asp-route-id="@request.Id" asp-method="post" class="btn btn-sm btn-danger">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
}
else
{
    <p>No pending vacation requests found.</p>
}
<p></p>
<p></p>
<p></p>
<p></p>
